@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@200;300;400;500;700;800&display=swap');

:root{
--color-primary:#02073E;
--color-secondary: #8D448B;
--color-extra: #858B91;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family:'DM sans', sans-serif ;
    line-height: 1.4;
    color: #02073E;
} 

a {
    color: #02073E;  
}

ul{
    list-style: none;
}

p{
    margin: 5px 0;
    line-height: 1.7;
}

img{
    max-width: 90%;
}

section a{
    color: #3183FF;
    text-decoration: none;
}

/*Navbar*/
.navbar {
    width: 90%;
    height: 69px;
    background-color: #fff;
    padding: 20px;
    top: 23px;
  
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    align-items: center;
    color: #02073E;
}

.navbar li {
    margin: 0 28.5px;
    font-weight: 400;
}

.navbar a{
    color: #000;
    text-decoration: none;
}

.navbar-nav-left{
    flex: -10;
    margin-right: 20px;
}

.navbar-brand img{
    width: 70px;
    height: 70px;
    margin-left: 200px;
}

.navbar-brand a {
    display: flex;
    align-items: center;
}

/*Buttons*/
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 10px;
    padding:  7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark {
    border-color: #000;
    background-color:#02073E;
    color: #fff;
}

.btn-light {
  border-color: #fff;
  background-color:#fff;
  color: #000;
  width: 150px;
  height: 36px;
}

.btn-pink {
  border-color: #000;
  background-color:#8D448B;
  color: #fff;
}
/*Backgrounds*/
.bg-primary {
background-color: var(--color-primary);
color: #02073E;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color:#000;
    }

    .bg-extra {
        background-color: var(--color-extra);
        color: #000;
        }


        /*Text*/
        .text-center{
            text-align: center;
        }

 .text-xl{
 font-size: 64px;
  line-height: 80px;
  letter-spacing:-1.375px; 
 font-weight: 700;
        }

 .text-lg{
   font-weight: 700;
   font-size: 44px;
   line-height: 60px;
   letter-spacing: -1.5px; 
        }
 .text-md{
 font-weight: 700;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.2px;
        } 

        .text-sm{
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
        }

       

        @media(max-width: 960px) {
            .text-xl{
                font-size: 34px;
            }
            .text-lg{
                font-size: 22px;
            }
            .text-md{
                font-size:9px ;
            }
            .text-sm{
                font-size: 8px;
            }
        }

@media(min-width :1000px) {
    .box{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}
        /*Box*/
        .box{
            margin-bottom: 90px;
        }

        .box-inner {
            max-width: 700px;
            margin: 0 auto;
        }

        /*Box features*/
 .box-inner .box-features1 img{
    position: absolute;
width: 88px;
height: 88px;
left: 180px;
top: 950px;
z-index: -1;
 }
 .box-inner .box-features1 h3{
    position: absolute;
width: 265px;
height: 30px;
left: 280px;
top: 950px;
 }
 .box-inner .box-features1 p{
    position: absolute;
width: 215px;
height: 90px;
left: 280px;
top: 980px;
 }
  .box-inner .box-features1 a{
    position: absolute;
    width: 101.85px;
    height: 42px;
    left: 280px;
    top: 1090px;
        }
  
  .box-inner .box-features2 img{
    position: absolute;
width: 88px;
height: 88px;
left: 522px;
top: 950px
  }
  .box-inner .box-features2 h3{
    position: absolute;
width: 265px;
height: 30px;
left: 624px;
top: 950px;
  }
  .box-inner .box-features2 p{
    position: absolute;
width: 215px;
height: 90px;
left: 624px;
top: 980px;
  }
  .box-inner .box-features2 a{
    position: absolute;
width: 101.85px;
height: 42px;
left: 624px;
top: 1090px;
  }
    
   .box-inner .box-features3 img{
 position: absolute;
width: 88px;
height: 88px;
left: 900px;
top: 950px;
   }
  .box-inner .box-features3 h3{
position: absolute;
width: 265px;
height: 30px;
left: 1000px;
top: 950px;
  }
  .box-inner .box-features3 p{
 position: absolute;
width: 215px;
height: 90px;
left:1000px;
top: 980px;
  }
  .box-inner .box-features3 a{
    position: absolute;
    width: 101.85px;
    height: 42px;
    left: 1000px;
    top: 1090px;
  }

  .box-inner .box-features4 img{
    position: absolute;
width: 88px;
height: 88px;
left: 180px;
top: 1200px;
  }
  .box-inner .box-features4 h3{
position: absolute;
width: 265px;
height: 30px;
left: 280px;
top: 1200px;
  }
  .box-inner .box-features4 p{
position: absolute;
width: 215px;
height: 90px;
left: 280px;
top: 1230px;
  }
  .box-inner .box-features4 a{
 position: absolute;
width: 101.85px;
height: 42px;
left: 280px;
top: 1330px;
  }

  .box-inner .box-features5 img{
position: absolute;
width: 88px;
height: 88px;
left: 530px;
top: 1200px;
  }
  .box-inner .box-features5 h3{
 position: absolute;
width: 265px;
height: 30px;
left: 640px;
top: 1200px;
  }
  .box-inner .box-features5 p{
    position: absolute;
width: 215px;
height: 90px;
left: 640px;
top: 1230px;
  }
  .box-inner .box-features5 a{
    position: absolute;
width: 101.85px;
height: 42px;
left: 640px;
top: 1330px;
  }

  .box-inner .box-features6 img{
    position: absolute;
width: 88px;
height: 88px;
left: 920px;
top: 1200px;
  }
  .box-inner .box-features6 h3{
    position: absolute;
width: 265px;
height: 30px;
left: 1020px;
top: 1200px;
  }
  .box-inner .box-features6 p{
 position: absolute;
width: 215px;
height: 90px;
left: 1020px;
top: 1230px;
  }
  .box-inner .box-features6 a{
position: absolute;
width: 101.85px;
height: 42px;
left: 1020px;
top: 1330px;
  }

  /*Box Tab*/
   .box-tab .browser{                
    position: absolute;
    width: 726px;
    height: 1000px;
    left: 142px;
    top: 1450px;
              }

   .box-tab .box-text h2{
    position: absolute;
    width: 450px;
    height: 150px;
    left: 780px;
    top: 1500px;
    color:#02073E;
    text-align: center;
              }

 .box-tab .box-text h1{
  position: absolute;
width: 162px;
height: 30px;
left: 780px;
top: 1460px;
color: var(--color-secondary);
text-transform: capitalize;
 }

 .box-text .tab1 img{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 800px;
  top: 1650px;
 }
 .box-text .tab1 h3{
  position: absolute;
width: 165px;
height: 12px;
left: 850px;
top: 1650px;
color:#02073E;
 }
 .box-text .tab1 p{
  position: absolute;
width: 292px;
height: 77px;
left: 850px;
top: 1680px;
color: #858B91;
 }

 .box-text .tab2 img{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 800px;
  top: 1800px;
}
.box-text .tab2 h3{
  position: absolute;
width: 165px;
height: 12px;
left: 850px;
top: 1800px;
}
.box-text .tab2 p{
  position: absolute;
width: 292px;
height: 77px;
left: 850px;
top:1830px ;
}

  .box-inner .box-text h2{
 position: absolute;
width: 584px;
height: 55px;
left: 450px;
top: 800px;
color: #02073E;
  }

  .box-inner .box-text p{
 position: absolute;
width: 230px;
height: 26px;
left: 600px;
top:849px ;
  }

  /*Box header*/
        .box-inner .logo{
            width: 100px;
            height: 100px;
            position: absolute;
            left: 47.14%;
            right: 47.66%;
            top: 15%;
            bottom: 97.43%;
            }

       .box-inner .text{
       position: absolute;
       width: 851px;
       height: 161px;
       left: 335px;
       top: 190px;
            }

     .box-inner .pattern{
       position: absolute;
       width: 900.72px;
       height: 580.15px;
       left:  275.02px;
       top: 190px;
       z-index: -2;
                       }
            
     .box-inner .mockup{
       position: absolute;
       width: 700px;
       height: 320px;
       left: 390px;
       top: 390px;
       z-index: -1;
                     }
        
       .box-text {
       max-width: 700px;
       text-align: center;
       justify-self: center;
       padding: 30px 0;
       margin: 0 auto;
       }

   .box-text .btn {
    margin-top: 20px;
  }
  .box-inner .img {
    max-width: 1500px;
  }

/*Box companies*/
  .box-companies .box-text h1{
    position: absolute;
    width: 162px;
    height: 40px;
    left: 160px;
    top: 2000px;
    color:var(--color-secondary) ;
    border: 365px 163px;
  }

  .box-companies .box-text h2{
    position: absolute;
    width: 420px;
    height: 185px;
    left: 143px;
    top: 2050px;
    border: 365px 163px;
  }

  .box-companies .box-text p{
    position: absolute;
width: 400px;
height: 155px;
left: 150px;
top: 2250px;
color: var(--color-primary);
  }

  .box-companies .box-text .btn{
    position: absolute;
width: 135px;
height: 45px;
left: 158px;
top: 2400px;
  }
  
  .box-companies .logos{
    position: absolute;
    width: 794px;
    height: 544px;
    left: 600px;
    top:1950px;
  }

  /*Box Slide*/
  .box-slide .box-text h1{
 position: absolute;
width: 800px;
height: 55px;
left: 300px;
top: 2500px;
  }
  .box-slide .box-text p{
position: absolute;
width: 239px;
height: 26px;
left: 550px;
top: 2550px;
  }

  .box-slide .tab-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 916px;
    height: 33px;
    left: 250px;
    top: 2650px;
    background: #F9FAFC;
  }

  .box-slide .tab-text ul {
  display: flex;
  align-items: center;
  }

  .box-slide .tab-text li{
    display: flex;
    margin: 0 10px;
  }

  .box-slide .tab-text a{
    color: #000;
  }

  .box-slide .mockup{
  position: absolute;
width: 1108px;
height: 745px;
left: 250px;
top: 2700px;
  }

  /*Box Pricing*/
  .border  {
    color: #0F2137;
    background-color: #fff;
    border: 1px solid #E8E9EB;
    position: absolute;
    width: 252px;
    height: 52px;
    left: 680px;
    top: 3380px;
    display: flex;
    gap: 10px;
  align-items: center;
  letter-spacing: -0.24px;
  }

  .bg-tab1{
    position: absolute;
  width: 450px;
  height: 580px;
  left: 300px;
  top: 3500px;
  background: #FFFFFF;
  border: 1px solid #E0E2E4;
  border-radius: 10px;
          }

  .box-pricing .box-text h1{
 position: absolute;
width: 548px;
height: 55px;
left: 500px;
top: 3250px;
color: #0F2137;
  }

  .box-pricing .box-text p{
position: absolute;
width: 177px;
height: 26px;
left: 700px;
top: 3300px;
  }

.tab1 img{
  position: absolute;
width: 73px;
height: 64.02px;
left: 50px;
top: 32px;
}

.tab1  h1 {
  position: absolute;
width: 173px;
height: 18px;
left: 50px;
top: 100px;
}

.tab1 .features1 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 160px;
}

.tab1 .features1 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 150px;
}

.tab1 .features2 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 240px;
}

.tab1 .features2 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 230px;
}

.tab1 .features3 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 310px;
}

.tab1 .features3 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 300px;
}

.tab1 .features4 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 380px;
}

.tab1 .features4 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 370px;
}
.tab2 .features2 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 240px;
}

.tab2 .features2 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 230px;
}

.tab2 .features3 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 310px;
}

.tab2 .features3 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 300px;
}

.tab2 .features4 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 380px;
}

.tab2 .features4 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 370px;
}

.tab2 .pricing h1{
  position: absolute;
width: 197px;
height: 28px;
left: 50px;
top: 480px;
}

.tab2 .pricing h2{
  position: absolute;
width: 173px;
height: 26px;
left: 50px;
top: 510px;
color: var(--color-secondary);
}

.tab2 .pricing img{
  position: absolute;
  width: 20px;
  height: 20px;
left: 380px;
top: 510px;
}

.tab1 .pricing h1{
  position: absolute;
width: 197px;
height: 28px;
left: 50px;
top: 480px;
}

.tab1 .pricing h2{
  position: absolute;
width: 173px;
height: 26px;
left: 50px;
top: 510px;
color: var(--color-secondary);
}

.tab1 .pricing img{
  position: absolute;
  width: 20px;
  height: 20px;
left: 400px;
top: 510px;
}

.bg-tab2{
  position: absolute;
width: 450px;
height: 580px;
left: 780px;
top: 3500px;
background: #FFFFFF;
border: 1px solid #E0E2E4;
border-radius: 10px;
        }
     
.tab2 img{
  position: absolute;
  width: 84px;
  height: 64.02px;
left: 50px;
top: 40px;
}

.tab2  h1 {
  position: absolute;
  width: 222px;
  height: 29px;
left: 50px;
top: 100px;
}

.tab2 .features1 img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 150px;
}

.tab2 .features1 h1{
  position: absolute;
  width:291px;
  height: 42px;
  left: 90px;
  top: 150px;
}

/* Box Comment*/
.BG{
position: absolute;
width: 480px;
height: 200px;
background: #FFFFFF;
box-shadow: 0px 13px 40px rgba(75, 102, 135, 0.1);
border-radius: 5px;
}

.box-comment .box-text h1{
  position: absolute;
width: 500px;
height: 55px;
left: 500px;
top: 4150px;
}

.box-comment .box-text p{
  position: absolute;
width: 179px;
height: 26px;
left: 650px;
top: 4200px;
color: var(--color-extra);
}

.comments .comment1 {
  position: absolute;
width: 404px;
height: 173px;
left: -273px;
top: 4250px;
}

.comments .comment2 h1{
  position: absolute;
  width: 300px;
  height: 113px;
  left: 150px;
  top: 4250px;
}
.comments .comment2 img{
  position: absolute;
width: 45px;
height: 45px;
left: 150px;
top: 4400px;
}
.comments .comment2 h2{
  position: absolute;
width: 97px;
height: 30px;
left: 220px;
top: 4400px;
}
.comments .comment2 a{
  position: absolute;
width: 404px;
height: 113px;
left: 220px;
top: 4430px;
}

.comments .comment3 h1{
  position: absolute;
  width: 350px;
  height: 113px;
  left: 450px;
  top: 4250px;
}
.comments .comment3 img{
  position: absolute;
width: 45px;
height: 45px;
left: 460px;
top: 4480px;
}
.comments .comment3 h2{
  position: absolute;
width: 137px;
height: 30px;
left: 520px;
top: 4480px;
}
.comments .comment3 a{
  position: absolute;
width: 404px;
height: 113px;
left: 520px;
top: 4510px;
}

.comments .comment4 h1{
  position: absolute;
  width: 350px;
  height: 113px;
  left: 800px;
  top: 4250px;
}
.comments .comment4 img{
  position: absolute;
width: 45px;
height: 45px;
left: 820px;
top: 4320px;
}
.comments .comment4 h2{
  position: absolute;
width: 137px;
height: 30px;
left: 890px;
top: 4320px;
}
.comments .comment4 a{
  position: absolute;
width: 404px;
height: 113px;
left: 890px;
top: 4350px;
}

.comments .comment5 h1{
  position: absolute;
  width: 350px;
  height: 113px;
  left: 1150px;
  top: 4250px;
}
.comments .comment5 img{
  position: absolute;
width: 45px;
height: 45px;
left: 1150px;
top: 4380px;
}
.comments .comment5 h2{
  position: absolute;
width: 137px;
height: 30px;
left: 1200px;
top: 4380px;
}
.comments .comment5 a{
  position: absolute;
width: 404px;
height: 113px;
left: 1200px;
top: 4400px;
}
.comments .comment6 h1{
  position: absolute;
width: 404px;
height: 110px;
left: -273px;
top: 4450px;
}

.comments .comment6 h2{
  position: absolute;
  width: 69px;
  height: 30px;
  left: -216px;
  top: 4460px;
}
.comments .comment6 a{
  position: absolute;
width: 116px;
height: 30px;
left: -216px;
top: 4480px;
}
.comments .comment7 h1{
  position: absolute;
width: 330px;
height: 82px;
left: 150px;
top: 4480px;
}
.comments .comment7 img{
  position: absolute;
  height: 45px;
  width: 45px;
  left: 150px;
  top:4600px;
}
.comments .comment7 h2{
  position: absolute;
width: 120px;
height: 30px;
left: 220px;
top: 4600px;
}
.comments .comment7 a{
  position: absolute;
  width: 120px;
  height: 30px;
  left: 220px;
  top: 4630px;
}

.comments .comment8 h1{
  position: absolute;
  width: 300px;
  height: 108px;
  left: 480px;
  top: 4550px;
}
.comments .comment8 img{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 490px;
  top: 4700px;
}
.comments .comment8 h2{
  position: absolute;
  width: 92px;
  height: 30px;
  left: 550px;
  top: 4700px;
}
.comments .comment8 a{
  position: absolute;
width: 65px;
height: 30px;
left: 550px;
top: 4730px;
}
.comments .comment9 h1{
  position: absolute;
  width: 330px;
  height: 202px;
  left: 800px;
  top: 4400px;
}
.comments .comment9 img{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 820px;
  top: 4680px;
}
.comments .comment9 h2{
  position: absolute;
width: 118px;
height: 30px;
left: 890px;
top: 4680px;
}
.comments .comment9 a{
  position: absolute;
  width: 94px;
  height: 30px;
  left: 890px;
  top: 4710px;
}
.comments .comment10 h1{
  position: absolute;
width: 404px;
height: 80px;
left: 1150px;
top: 4430px;
}
.comments .comment10 img{
  position: absolute;
width: 45px;
height: 45px;
left: 1150px;
top: 4530px;
}
.comments .comment10 h2{
  position: absolute;
  width: 116px;
  height: 30px;
  left: 1200px;
  top: 4530px;
}
.comments .comment10 a{
 position: absolute;
width: 78px;
height: 30px;
left: 1200px;
top: 4560px;
}

/*Box Blog*/
.rectangle{
position: absolute;
width: 375px;
height: 160px;
left: 610px;
top: 4945px;


background: #F0F0F4;
border-radius: 5px;}

.box-blog .box-text h1{
  position: absolute;
width: 650px;
height: 55px;
left: 430px;
top: 4800px;
color: var(--color-primary);
}
.box-blog .box-text p{
position: absolute;
width: 187px;
height: 26px;
left: 660px;
top: 4850px;
}
.blog .course1 img{
  position: absolute;
  width: 375px;
  height: 270px;
  left: 220px;
  top: 4945px;
}
.blog .course1 h1{
  position: absolute;
width: 364px;
height: 58px;
left: 220px;
top: 5230px;
color: #02073E;
}
.blog .course1 p{
  position: absolute;
width: 329px;
height: 111px;
left: 220px;
top: 5295px;
color: #02073E;
}
.blog .course1 a{
  position: absolute;
width: 101.85px;
height: 42px;
left: 220px;
top: 5415px;
}

.blog .course2 h1{
  position: absolute;
width: 328px;
height: 99px;
color: #0F2137;
justify-items: center;
align-items: center;
}

.blog .course3 img{
  position: absolute;
  width: 375px;
  height: 170px;
  left: 610px;
  top: 5130px;
}
.blog .course3 h1{
  position: absolute;
width: 318px;
height: 35px;
left: 610px;
top: 5310px;
color: #02073E;
}
.blog .course3 p{
  position: absolute;
width: 367px;
height: 53px;
left: 610px;
top: 5350px;
color: #02073E;
}
.blog .course3 a{
  position: absolute;
  width: 101.85px;
  height: 42px;
  left: 610px;
  top: 5410px;
}

.blog .course4 img{
  position: absolute;
width: 335px;
height: 230px;
left: 1000px;
top: 4945px;
}
.blog .course4 h1{
  position: absolute;
  width: 320px;
  height: 58px;
  left: 1000px;
  top: 5100px;
  color: #fff;
}

.blog .course5 img{
  position: absolute;
  width: 335px;
  height: 230px;
  left: 1000px;
  top: 5200px;
}
.blog .course5 h1{
position: absolute;
width: 344px;
height: 58px;
left: 1000px;
top: 5357px;
color: #fff;
}

/*BOX FAQ*/
.box-faq .text-box h1{
  position: absolute;
width: 527px;
height: 55px;
left: 500px;
top: 5530px;
color: #0F2137;
}

.box-faq .text-box p{
  position: absolute;
width: 233px;
height: 26px;
left: 600px;
top: 5589.5px;
color: #858B91;
}

.box-faq .faq h1{
  position: absolute;
  width: 300px;
  height: 81px;
  left: 200px;
  top: 5650px;
color: var(--color-primary);
}

.box-faq .faq p{
  position: absolute;
  width: 322px;
  height: 52px;
  left: 200px;
  top: 5730px;
  color: #343D48;
opacity: 0.7;
}

.box-faq .faq .btn{
  position: absolute;
  width: 176px;
  height: 45px;
  left: 200px;
  top: 5830px;
}

/*FAQ 1*/
.bgfaq1{
position: absolute;
width: 790px;
height: 69px;
left: 537px;
top: 5650px;

background: #FFFFFF;
border: 1px solid #EDEFF2;
border-radius: 5px;
}

.box-faq .faq1 h1{
  position: absolute;
  width: 619px;
  height: 35px;
  left: 40px;
  top: 20px;
}

.box-faq .faq1 img{
  position: absolute;
left: 750px;
right: 20.15px;
top: 26.46px;
bottom: 13.44px;
}

/*FAQ 2*/
.bgfaq2{
  position: absolute;
  width: 790px;
  height: 225px;
  left: 537px;
  top: 5750px;
  
  background: #FFFFFF;
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  }
  
  .box-faq .faq2 h1{
    position: absolute;
    width: 619px;
    height: 35px;
    left: 40px;
    top: 20px;
  }
  
  .box-faq .faq2 img{
    position: absolute;
    left: 750px;
    right: 20.15px;
    top: 26.46px;
    bottom: 13.44px;
  }

  .box-faq .faq2 p{
position: absolute;
width: 733px;
height: 112px;
left: 40px;
top: 60px;
  }

  /*FAQ 3*/
.bgfaq3{
  position: absolute;
width: 790px;
height: 70px;
left: 537px;
top: 6000px;

background: #FFFFFF;
border: 1px solid #EDEFF2;
border-radius: 5px;
  }
  
  .box-faq .faq3 h1{
    position: absolute;
    width: 619px;
    height: 35px;
    left: 40px;
    top: 20px;
  }
  
  .box-faq .faq3 img{
    position: absolute;
  left: 750px;
  right: 20.15px;
  top: 26.46px;
  bottom: 13.44px;
  }

  /*FAQ 4*/
.bgfaq4{
  position: absolute;
  width: 790px;
  height: 70px;
  left: 537px;
  top: 6100px;
  
  background: #FFFFFF;
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  }
  
  .box-faq .faq4 h1{
    position: absolute;
    width: 619px;
    height: 35px;
    left: 40px;
    top: 20px;
  }
  
  .box-faq .faq4 img{
    position: absolute;
  left: 750px;
  right: 20.15px;
  top: 26.46px;
  bottom: 13.44px;
  }

  /*FAQ 5*/
.bgfaq5{
  position: absolute;
width: 790px;
height: 70px;
left: 537px;
top: 6200px;

background: #FFFFFF;
border: 1px solid #EDEFF2;
border-radius: 5px;
  }
  
  .box-faq .faq5 h1{
    position: absolute;
    width: 619px;
    height: 35px;
    left: 40px;
    top: 20px;
  }
  
  .box-faq .faq5 img{
    position: absolute;
  left: 750px;
  right: 20.15px;
  top: 26.46px;
  bottom: 13.44px;
  }

  /*BOX FOOTER*/
  .BGfooter{
    position: absolute;
    width: 1920px;
    height: 360px;
    left: 200px;
    top: 6291px;
    background: #020718;
  }

  .rectangle555{
position: absolute;
width: 280px;
height: 50px;
left: 346px;
top: 124px;
background: #FFFFFF;
opacity: 0.08;
border-radius: 5px;
  }

 .box-footer .text-box h1{
  position: absolute;
width: 639px;
height: 50px;
left: 346px;
top: 26px;
color: #ffffff;
 }

 .box-footer .text-box p{
  position: absolute;
  width: 508px;
  height: 50px;
  left: 346px;
  top: 58px;
color: #ffffff;
 }

 .box-footer .text-box h2{
  position: absolute;
 }

 .box-footer .text-box .btn{
  position: absolute;
  width: 160px;
  height: 45px;
  left: 640px;
  top: 128px;
 }

 .box-footer .bottom img{
  position: absolute;
width: 77px;
height: 37px;
left: 95px;
top: 323px;
 }

 .box-footer .bottom h1{
  position: absolute;
  width: 154px;
  height: 24px;
left: 150px;
top: 323px;
color: #ffffff;
 }

 .box-footer .bottom p{
  position: absolute;
left: 300px;
top: 319px;
color: #ffffff;
 }

 .box-footer .bottom h2{
  position: absolute;
  left: 680px;
  top: 323px;
color: #ffffff;
 }


  /* Grid Styles*/
  .grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

 

  
